<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ageCertificationHasOccured</key>
	<false/>
	<key>selfieHasBeenTaken</key>
	<false/>
	<key>userRegisterState</key>
	<false/>
	<key>age</key>
	<string></string>
	<key>wasBorn</key>
	<string></string>
	<key>token</key>
	<string>n1oJ6u4cKeQwCvGg5ZrxHJaMOoQ=:VEMZGC9M7HL72RQYAAY94MJRPNGMLLN9R34ZM8W3QEJ935BH3GFQ1EQH4N7VPZH56F1AA4VV2UYRGGJR6NRRYDFV6NTXS8UZNNQ324RC6NRRGGUZXUURA4RZX6AXHA</string>
	<key>scanSocialImageState</key>
	<false/>
	<key>shoppingCartHelpOverlayHasShown</key>
	<false/>
	<key>channelHelpOverlayHasShown</key>
	<false/>
	<key>addToCartHelpOverlayHasShown</key>
	<false/>
	<key>topViewHasShown</key>
	<false/>
	<key>leftViewHasShown</key>
	<false/>
	<key>rightViewHasShown</key>
	<false/>
	<key>refundTicketViewHelpOverlayShown</key>
	<false/>
	<key>pinEnableState</key>
	<false/>
	<key>powerSavingState</key>
	<false/>
	<key>includeSelfieState</key>
	<false/>
	<key>serverBaseURL</key>
	<string>https://demo.services.32point6.com</string>
	<key>playToken</key>
	<string></string>
	<key>correlationRefId</key>
	<string></string>
	<key>demoDataFlag</key>
	<true/>
	<key>ticketRecentFlag</key>
	<true/>
	<key>isSystemGenerated</key>
	<true/>
	<key>pinHashValue</key>
	<string></string>
	<key>devEndpoint</key>
	<true/>
	<key>devToken</key>
	<string>n1oJ6u4cKeQwCvGg5ZrxHJaMOoQ=:VEMZGC9M7HL72RQYAAY94MJRPNGMLLN9R34ZM8W3QEJ935BH3GFQ1EQH4N7VPZH56F1AA4VV2UYRGGJR6NRRYDFV6NTXS8UZNNQ324RC6NRRGGUZXUURA4RZX6AXHA</string>
	<key>devPlayToken</key>
	<string></string>
	<key>devServerBaseUrl</key>
	<string>https://dev.services.32point6.com</string>
	<key>socialConnectionImageDownload</key>
	<false/>
	<key>botApiToken</key>
	<string>Bearer JhM91F6qR4Y.cwA.yaw.-O5W7qGTlJdwach6GEgwBiIFKtkcjAQ6bpqs5v8X37E</string>
	<key>botEndPoint</key>
	<string>https://directline.botframework.com</string>
	<key>botRegisterState</key>
	<false/>
	<key>cameraPermissionState</key>
	<false/>
	<key>microphonePermissionState</key>
	<false/>
	<key>locationPermissionState</key>
	<false/>
	<key>photoPermissionState</key>
	<false/>
	<key>notificationPermissionState</key>
	<false/>
	<key>botRegisteredData</key>
	<string></string>
	<key>BrandLicenseCode</key>
	<string>n1oJ6u4cKeQwCvGg5ZrxHJaMOoQ=:LJBVQWSAQFD8CVEG386UZEV5HTR3ELUSA5E5EFHFYEV99YG68F3Q1EQH78MQ7DDQQZ1A7GRE6TFRUJRV6NRRGJUC6NTXTDJC6NWRS4VB6NRXYGFQ6GS3HARV6MERTA</string>
	<key>devBrandLicenseCode</key>
	<string>n1oJ6u4cKeQwCvGg5ZrxHJaMOoQ=:LJBVQWSAQFD8CVEG386UZEV5HTR3ELUSA5E5EFHFYEV99YG68F3Q1EQH78MQ7DDQQZ1A7GRE6TFRUJRV6NRRGJUC6NTXTDJC6NWRS4VB6NRXYGFQ6GS3HARV6MERTA</string>
	<key>SocialXGetYLicenseCodes</key>
	<string></string>
	<key>enablePinPwd</key>
	<false/>
	<key>showBot</key>
	<false/>
	<key>BLEDistanceFilter</key>
	<integer>1609</integer>
	<key>homeOverlayTimes</key>
	<integer>3</integer>
	<key>homeAnimationTimes</key>
	<integer>3</integer>
</dict>
</plist>
